:root {
    --jasnoy: #3CA666;
    --ciemny: #0A6446;
    --biały: #B7B7B7;
    --czarny: #222222;
    --upośledzony: #dae1de;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    border-collapse: collapse;
    
}
 
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--ciemny);
    display: flex;
    flex-direction: column;

}

header {
    width: 100%;
    height: 18%;
    background-color: #dae1de;
    display: flex;
    flex-direction: row;
}

.h1box {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.rodzicleft {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.pbox {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pboxsmall {
    width: 50%;
    text-align: center;
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 10;
    padding-right: 90px;
}

nav {
    width: 40%;
    height: 100%;
    background-color: #B7B7B7;
}

.kwe {
    width: 400px;
    height: 85px;
    background-color: #595757;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-weight: 600;
}

.kwe:hover {
    border: #222222, 8px, solid;
}

.kwerenda,.kwerenda2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kwerenda {
    padding-right: 100px;
    align-items: center;
    padding-top: 30px;
}

.kwerenda2 {
   padding-left: 100px; 
   align-items: center;
   padding-bottom: 10px;
}

main {
    width: 60%;
    height: 100%;

}

aside {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cialo {
    width: 100%;
    height: 82%;
    display: flex;
    flex-direction: row;
}

.bialyb {
    width: 100%;
    height: 97%;
    background-color: var(--upośledzony);
    border-top-left-radius: 90px;
}

.up {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    padding-left: 100px;
    gap: 10px;
    list-style-position: inside;
}

.up > ul {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}


.mid {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;

}

.down {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.jeden, .dwa, .trzy, .cztery {
    width: 90px;
    height:90px;
}

.jeden {
    background-color: #3CA666;
}

.dwa {
    background-color: #0A6446;
}

.trzy {
    background-color: #B7B7B7;
}

.cztery {
    background-color: #222222;
}

.lewog {
    width: 100%;
    height: 93%;
}

footer {
    width: 100%;
    height: 7%;
    color: #dae1de;
    background-color: #3CA666;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zaplanowane {
    width: 100%;
    height: 7%;
    color: #dae1de;
    font-size: xx-large;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 50px;
}

.tabelag {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    max-height: 490px;
    min-height: 490px;
}

.tableg{
    border: 6px black solid;
    width: 80%;
    height: 90%;
    text-align: center;
    color: #dae1de;
}

.tableg th {
    border: 6px solid black;
}

.btn_usun {
    text-decoration: none;
    font-weight: 1000;
    font-size: 20px;
}

.tablegora tr th {
    border: 6px black solid;
    font-size: 25px;
    font-weight: 1;
}

.tablegora tr td {
    font-size: 23px;
}

.tabelad {
    width: 100%;
    height: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: row;
}

.tabled {
    width: 100%;
    height: 100%;
    border: 6px black solid;
    text-align: center;
    color: #dae1de;
}

input {
    width: 100%;
    height: 100%;
}

#btn_dodaj {
    border: 6px black solid;
    border-left: 0px;
    width: 30%;
    background-color: #222222;
    color: #dae1de;
}

.tabledol  tr  td, .tabledol tr th {
    border: 5px black solid;
}